.FrontPage {
    background-image: url('../img/—Pngtree—taobao vector creative technology online_1110799.jpg');
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 1000px;
}