.nav-link {
    color: #95A6FF !important;
}
.btn-search {
    background: #FFC220;
    color: #fff;
    border-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .btn-search:link, .btn-search:visited {
    color: #fff;
  }
  .btn-search:active, .btn-search:hover {
    background: #041e42;
    color: #fff;
  }
  .input-group {
      width: 500px;
  }
